<div class="container">
  <div class="row">
    <form class="form-horizontal" action='' method="POST">
      <fieldset class="view-dealer-information">
        <p class="title">View - Dealer Information</p>
        <div class="viewdealerinnersection col-md-12 col-sm-12 text-center">
          <div class="col-md-4 col-sm-4">
            <img src="assets/images/firstimg.jpg" class="img-responsive dealerimage" alt="Image">
          </div>
          <div class="col-md-4 col-sm-4">
            <img src="assets/images/secondimg.jpg" class="img-responsive dealerimage" alt="Image">
          </div>
          <div class="col-md-4 col-sm-4">
            <img src="assets/images/thirdimg.jpg" class="img-responsive dealerimage" alt="Image">
          </div>
          <br>
          <div class="col-md-12 col-sm-12 text-center">
            <div class="col-md-4 col-sm-4">
              <img src="assets/images/fourthimg.jpg" class="img-responsive dealerimage" alt="Image">
            </div>
            <div class="col-md-4 col-sm-4">
              <img src="assets/images/fifthimg.jpg" class="img-responsive dealerimage" alt="Image">
            </div>
            <div class="col-md-4 col-sm-4">
              <img src="assets/images/sixthimg.jpg" class="img-responsive dealerimage" alt="Image">
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>