<div class="container">
  <div class="logo">
    <img src="assets/images/ATlogo.png">
  </div>
  <div class="headermenu">
    <span class="logoutsection"><a href="./login">log Out</a></span>
    <p class="headeradmin">Adminstrator</p>
    <ul class="menubar">
      <li class="level1">
        <a href="#">Dealership Entrollment</a>
        <ul class="level2">
          <li class="sublevel"><a href="./dealer">1.Add Dealer</a></li>
          <li class="sublevel"><a href="./viewdealer">2.View Dealers</a></li>
        </ul>
      </li>
      <li class="level1"><a href="#">About Auto Trek</a></li>
    </ul>
  </div>
</div>